.idea/

*.pyc

configs/*

custom_templates/*

ssl-certificates/*
!ssl-certificates/README.md

src/repos/*
src/webroot/*

src/config.json

src/templates/*
!src/templates/default.html
!src/templates/default-index.html
!src/templates/static/default.css
!src/templates/static/default.js
!src/templates/static/jquery.min.js
!src/templates/static/jquery.sticky.js
