<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if ontology_title is defined %}
        <title>{{ ontology_title }}</title>
    {% endif %}
    <link href="/_static/default.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700"
          rel="stylesheet" type="text/css">
    <script src="/_static/jquery.min.js"></script>
    <script src="/_static/jquery.sticky.js"></script>
    <script src="/_static/default.js"></script>

    <link href="/home/ilya/dev/owl-pub/src/templates/static/default.css"
          rel="stylesheet" type="text/css">
    <script src="/home/ilya/dev/owl-pub/src/templates/static/jquery.min.js"></script>
    <script src="/home/ilya/dev/owl-pub/src/templates/static/jquery.sticky.js"></script>
    <script src="/home/ilya/dev/owl-pub/src/templates/static/default.js"></script>
</head>
<body class="template--doc">
<header id="header" class="header">
    {% if ontology_title %}
        <h2>{{ ontology_title }}</h2>
    {% endif %}
</header>
<div class="content-wrap site-width">
    <div class="nav">
        <div class="nav__inner sticky">
            <h6>Table of contents</h6>
            <ol>
                <li><a href="#meta">Meta</a></li>
                {% if abstract %}
                    <li><a href="#abstract">Abstract</a></li>
                {% endif %}
                {% if introduction %}
                    <li><a href="#introduction">Introduction</a></li>
                {% endif %}
                {% if classes %}
                    <li><a href="#classes">Classes</a></li>
                {% endif %}
                {% if data_properties %}
                    <li><a href="#dprops">Data properties</a></li>
                {% endif %}
                {% if object_properties %}
                    <li><a href="#oprops">Object properties</a></li>
                {% endif %}
                {% if annotation_properties %}
                    <li><a href="#aprops">Annotation properties</a></li>
                {% endif %}
                {% if individuals %}
                    <li><a href="#individuals">Individuals</a></li>
                {% endif %}
                {% if namespaces %}
                    <li><a href="#namespaces">Namespace declarations</a></li>
                {% endif %}
                {% if branches_info['commits'] %}
                    <li><a href="#commits_info">Commits</a></li>
                {% endif %}
            </ol>
        </div>
    </div>
    <div class="content">
        <div id="meta" class="content__inner content__inner--meta">
            {% set tof_item_num = 1 %}
            <h4>{{ tof_item_num }}. Meta</h4>
            {% set tof_item_num = tof_item_num + 1 %}

            {% if ontology_iri %}
                <div>
                    <strong>IRI:</strong>
                    <a href="{{ ontology_iri }}">{{ ontology_iri }}</a>
                </div>
            {% endif %}
            {% if ontology_version_iri %}
                <div>
                    <strong>Version IRI:</strong> {{ ontology_version_iri }}
                </div>
            {% endif %}
            {% if ontology_date %}
                <div><strong>Date:</strong> {{ ontology_date }}</div>
            {% endif %}
            {% if ontology_version %}
                <div><strong>Current version:</strong> {{ ontology_version }}
                </div>
            {% endif %}
            {% if ontology_creators %}
                <div>
                    <strong>Creators:</strong>
                    {% for creator in ontology_creators %}
                        <span>{{ creator }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if ontology_constributors %}
                <div>
                    <strong>Contributors:</strong>
                    {% for contributor in ontology_contributors %}
                        <span>{{ contributor }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if imported_ontologies %}
                <div>
                    <strong>Imported Ontologies:</strong>
                    {% for ontology in imported_ontologies %}
                        <a href="{{ ontology }}">{{ ontology }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            <div>
                <strong>Current branch:</strong>
                {{ branches_info['current_branch'] }}
                {% if branches_info['other_branches'] %}
                    , switch to:
                    <select id="branch_switcher">
                        <option></option>
                        {% for branch in branches_info['other_branches'] %}
                            <option value="../{{ branch }}/{{ branches_info['file_name'] }}.html">
                                {{ branch }}
                            </option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        </div>

        {% if abstract %}
            <div id="abstract" class="content__inner content__inner--abstract">
                <h4>{{ tof_item_num }}. Abstract</h4>
                {% set tof_item_num = tof_item_num + 1 %}

                <div>{{ abstract }}</div>
            </div>
        {% endif %}

        {% if introduction %}
            <div id="introduction"
                 class="content__inner content__inner--introduction">
                <h4>{{ tof_item_num }}. Introduction</h4>
                {% set tof_item_num = tof_item_num + 1 %}

                <div>{{ introduction }}</div>
            </div>
        {% endif %}

        {% if classes %}
            <div id="classes" class="content__inner content__inner--classes">
                <h4>{{ tof_item_num }}. Classes</h4>
                {% set tof_item_num = tof_item_num + 1 %}

                <div class="content__inner__nav">
                    <ol>
                        {% for class in classes %}
                            <li>
                                <a href="#{{ class.iri|anchorFromIRI }}"
                                   class="{% if class.is_deprecated %}deprecated{% endif %}">
                                    {{ class.label }}
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>

                {% for class in classes %}
                    <div id="{{ class.iri|anchorFromIRI }}"
                         class="{% if class.is_deprecated %}deprecated{% endif %}">
                        <h4 class="label">{{ class.label }}</h4>
                        <div class="iri">
                            <strong>IRI:</strong>
                            <a href="{{ class.iri }}">{{ class.iri|anchorFromIRI|prefixed }}</a>
                        </div>
                        <div class="clearfix"></div>
                        {% if class.comment %}
                            <div>{{ class.comment }}</div>
                        {% endif %}
                        {% if class.super_classes %}
                            <div>
                                <strong>Superclasses:</strong>
                                <ul>
                                    {% for i in class.super_classes %}
                                        <li>
                                            <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if class.sub_classes %}
                            <div>
                                <strong>Subclasses:</strong>
                                <ul>
                                    {% for i in class.sub_classes %}
                                        <li>
                                            <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if class.domain_for %}
                            <div>
                                <strong>Properties (<a
                                        href="http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a>)
                                    :</strong>
                                <ul>
                                    {% for i in class.domain_for %}
                                        <li>
                                            <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if class.in_range %}
                            <div>
                                <strong>This class is a valid range (<a
                                        href="http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a>)
                                    for:</strong>
                                <ul>
                                    {% for i in class.in_range %}
                                        <li>
                                            <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if data_properties %}
            <div id="dprops" class="content__inner content__inner--dprops">
                <h4>{{ tof_item_num }}. Data properties</h4>
                {% set tof_item_num = tof_item_num + 1 %}

                <div class="content__inner__nav">
                    <ol>
                        {% for property in data_properties %}
                            <li>
                                <a href="#{{ property.iri|anchorFromIRI }}"
                                   class="{% if property.is_deprecated %}deprecated{% endif %}">
                                    {% if property.label %}
                                        {{ property.label }}
                                    {% else %}
                                        {{ property.iri }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>

                {% for property in data_properties %}
                    <div id="{{ property.iri|anchorFromIRI }}"
                         class="{% if property.is_deprecated %}deprecated{% endif %}">
                        <h4 class="label">{{ property.label }}</h4>
                        <div class="iri">
                            <strong>IRI:</strong>
                            <a href="{{ property.iri }}">{{ property.iri|anchorFromIRI }}</a>
                        </div>
                        <div class="clearfix"></div>
                        {% if property.comment %}
                            <div>{{ property.comment }}</div>
                        {% endif %}
                        {% if property.super_properties %}
                            <div>
                                <strong>
                                    <a href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf:</a>
                                </strong>
                                <ul>
                                    {% for i in property.super_properties %}
                                        <li>
                                            <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if property.sub_properties %}
                            <div>
                                <strong>Sub-properties:</strong>
                                <ul>
                                    {% for i in property.sub_properties %}
                                        <li>
                                            <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if property.domain_for %}
                            <div>
                                <strong>Domain for: (<a
                                        href="http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a>):</strong>
                                <ul>
                                    {% for i in property.domain_for %}
                                        <li>
                                            <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if property.has_domain %}
                            <div>
                                <strong>Compatible with (<a
                                        href="http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a>):</strong>
                                <ul>
                                    {% for i in property.has_domain %}
                                        <li>
                                            <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if property.in_range %}
                            <div>
                                <strong>In range of:</strong>
                                <ul>
                                    {% for i in property.in_range %}
                                        <li>
                                            <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if property.has_range %}
                            <div>
                                <strong>Allowed values (<a
                                        href="http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a>):</strong>
                                <ul>
                                    {% for i in property.has_range %}
                                        <li>
                                            <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if object_properties %}
            <div id="oprops" class="content__inner content__inner--oprops">
                <h4>{{ tof_item_num }}. Object properties</h4>
                {% set tof_item_num = tof_item_num + 1 %}

                <div class="content__inner__nav">
                    <ol>
                        {% for property in object_properties %}
                            <li>
                                <a href="#{{ property.iri|anchorFromIRI }}"
                                   class="{% if property.is_deprecated %}deprecated{% endif %}">
                                    {% if property.label %}
                                        {{ property.label }}
                                    {% else %}
                                        {{ property.iri }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>

                {% for property in object_properties %}
                    <div id="{{ property.iri|anchorFromIRI }}"
                         class="{% if property.is_deprecated %}deprecated{% endif %}">
                        <h4 class="label">{{ property.label }}</h4>
                        <div class="iri">
                            <strong>IRI:</strong>
                            <a href="{{ property.iri }}">{{ property.iri|anchorFromIRI }}</a>
                        </div>
                        <div class="clearfix"></div>
                        {% if property.comment %}
                            <div>{{ property.comment }}</div>
                        {% endif %}
                        {% if property.super_properties %}
                            <div>
                                <strong>
                                    <a href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
                                        rdfs:subPropertyOf</a>
                                </strong>
                                <ul>
                                    {% for i in property.super_properties %}
                                        <li>
                                            <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if property.sub_properties %}
                            <div>
                                <strong>Sub-properties:</strong>
                                <ul>
                                    {% for i in property.sub_properties %}
                                        <li>
                                            <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if property.domain_for %}
                            <div>
                                <h5>is in domain of</h5>
                                <p>
                                    {% for i in property.domain_for %}
                                        <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        {% if property.has_domain %}
                            <div>
                                <strong>Compatible with (<a
                                        href="http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a>):</strong>
                                <ul>
                                    {% for i in property.has_domain %}
                                        <li>
                                            <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if property.in_range %}
                            <div>
                                <h5>is in range of</h5>
                                <p>
                                    {% for i in property.in_range %}
                                        <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        {% if property.has_range %}
                            <div>
                                <strong>Allowed values (<a
                                        href="http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a>):</strong>
                                <ul>
                                    {% for i in property.has_range %}
                                        <li>
                                            <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if annotation_properties %}
            <div id="aprops" class="content__inner content__inner--aprops">
                <h4>{{ tof_item_num }}. Annotation properties</h4>
                {% set tof_item_num = tof_item_num + 1 %}

                <div class="content__inner__nav">
                    <ol>
                        {% for property in annotation_properties %}
                            <li>
                                <a href="#{{ property.iri|anchorFromIRI }}"
                                   class="{% if property.is_deprecated %}deprecated{% endif %}">
                                    {% if property.label %}
                                        {{ property.label }}
                                    {% else %}
                                        {{ property.iri }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>

                {% for property in annotation_properties %}
                    <div id="{{ property.iri|anchorFromIRI }}"
                         class="{% if property.is_deprecated %}deprecated{% endif %}">
                        <h4 class="label">{{ property.label }}</h4>
                        <div class="iri">
                            <strong>IRI:</strong>
                            <a href="{{ property.iri }}">{{ property.iri|anchorFromIRI }}</a>
                        </div>
                        <div class="clearfix"></div>
                        {% if property.comment %}
                            <div>{{ property.comment }}</div>
                        {% endif %}
                        {% if property.super_properties %}
                            <div>
                                <h5>has super-properties</h5>
                                <p>
                                    {% for i in property.super_properties %}
                                        <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        {% if property.sub_properties %}
                            <div>
                                <h5>has sub-properties</h5>
                                <p>
                                    {% for i in property.sub_properties %}
                                        <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        {% if property.domain_for %}
                            <div>
                                <h5>is in domain of</h5>
                                <p>
                                    {% for i in property.domain_for %}
                                        <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        {% if property.has_domain %}
                            <div>
                                <h5>has domain</h5>
                                <p>
                                    {% for i in property.has_domain %}
                                        <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        {% if property.in_range %}
                            <div>
                                <h5>is in range of</h5>
                                <p>
                                    {% for i in property.in_range %}
                                        <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        {% if property.has_range %}
                            <div>
                                <h5>has range</h5>
                                <p>
                                    {% for i in property.has_range %}
                                        <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if individuals %}
            <div id="individuals"
                 class="content__inner content__inner--individuals">
                <h4>{{ tof_item_num }}. Individuals</h4>
                {% set tof_item_num = tof_item_num + 1 %}

                <div class="content__inner__nav">
                    <ol>
                        {% for individual in individuals %}
                            <li>
                                <a href="#{{ individual.iri|anchorFromIRI }}"
                                   class="{% if individual.is_deprecated %}deprecated{% endif %}">
                                    {% if individual.label %}
                                        {{ individual.label }}
                                    {% else %}
                                        {{ individual.iri }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>

                {% for individual in individuals %}
                    <div id="{{ individual.iri|anchorFromIRI }}"
                         class="{% if individual.is_deprecated %}deprecated{% endif %}">
                        <h4 class="label">{{ individual.label }}</h4>
                        <div class="iri">
                            <strong>IRI:</strong>
                            <a href="{{ individual.iri }}">{{ individual.iri|anchorFromIRI }}</a>
                        </div>
                        <div class="clearfix"></div>
                        {% if individual.comment %}
                            <div>{{ individual.comment }}</div>
                        {% endif %}
                        {% if individual.super_properties %}
                            <div>
                                <h5>has super-properties</h5>
                                <p>
                                    {% for i in individual.super_properties %}
                                        <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        {% if individual.sub_properties %}
                            <div>
                                <h5>has sub-properties</h5>
                                <p>
                                    {% for i in individual.sub_properties %}
                                        <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        {% if individual.domain_for %}
                            <div>
                                <h5>is in domain of</h5>
                                <p>
                                    {% for i in individual.domain_for %}
                                        <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        {% if individual.has_domain %}
                            <div>
                                <h5>has domain</h5>
                                <p>
                                    {% for i in individual.has_domain %}
                                        <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        {% if individual.in_range %}
                            <div>
                                <h5>is in range of</h5>
                                <p>
                                    {% for i in individual.in_range %}
                                        <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        {% if individual.has_range %}
                            <div>
                                <h5>has range</h5>
                                <p>
                                    {% for i in individual.has_range %}
                                        <a href="{{ i|hashed }}">{{ i|prefixed }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        {% if individual.type %}
                            <div>
                                <strong>rdf:type:</strong>
                                <a href="{{ individual.type }}">
                                    {{ individual.type }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div id="namespaces" class="content__inner content__inner--namespaces">
            <h4>{{ tof_item_num }}. Namespace declarations</h4>
            <ol>
                {% for k, v in namespaces %}
                    <li>
                        <strong>{{ k }}:</strong> <a href="{{ v }}">{{ v }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>

        {% if branches_info['commits'] %}
            <div id="commits_info" class="content__inner content__inner--commits_info">
                <h4>{{ tof_item_num }}. Commits</h4>
                {% set tof_item_num = tof_item_num + 1 %}

                <button id="commits_info__btn" class="commits_info__btn">
                    Show commits
                </button>
                <ul id="commits_info__inner" class="commits_info__inner">
                    {% for commit in branches_info['commits'] %}
                        <li class="clearfix">
                            <div class="message">
                                {{ commit['commit']['message'] }}
                            </div>
                            <div class="meta">
                                <a href="{{ commit['committer']['html_url'] }}">
                                    {{ commit['commit']['committer']['name'] }}
                                </a>
                                <a href="{{ commit['html_url'] }}">
                                    {{ commit['commit']['committer']['date'] }}
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>
<footer id="footer" class="footer">owl-pub @ ITMO University 2016</footer>
</body>
</html>
